dify-workflows/assessment-analyzer.yml
# Dify Workflow (non-chat) — Assessment Analyzer
#
# Replaces the two inline Sonnet calls in routes/assess.ts:
#   :237 (assess/start — generates the assessment intro/framing)
#   :469 (assess/analyze — scores the responses + produces narrative)
#
# One workflow handles both modes via the `phase` input. Callback fires with
# kind=assessment so /api/dify/callback/research-result can write to the
# assessment record.
app:
  name: Assessment Analyzer
  description: Sonnet scoring + narrative for the assess flow. Replaces routes/assess.ts inline calls.
  mode: workflow
  icon: "\U0001F4CA"
  icon_background: "#DBEAFE"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "" }
    - { name: DIFY_CALLBACK_KEY, value: "" }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: sessionId, type: text-input, label: Session ID, required: true, max_length: 64 }
            - { variable: phase, type: select, label: Phase, required: true, options: [start, analyze] }
            - { variable: industryName, type: text-input, label: Industry, required: true, max_length: 128 }
            - { variable: orgContext, type: paragraph, label: Org Context JSON, required: false }
            - { variable: responses, type: paragraph, label: Responses JSON (analyze only), required: false }
      - id: analyze_llm
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: llm
          title: Assessment LLM
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.2, max_tokens: 6000 }
          prompt_template:
            - role: system
              text: |
                You analyze a CVI capability self-assessment.

                If `phase=start`: emit an intro framing for the user that lists the 6-10 capabilities
                they're about to score, with one-sentence definitions tailored to their industry.

                {
                  "phase": "start",
                  "intro": "string",
                  "capabilities": [{"id": int, "name": "string", "definition": "string"}]
                }

                If `phase=analyze`: score each capability (0-100) and produce a narrative.

                {
                  "phase": "analyze",
                  "overallScore": 0,
                  "perCapability": [{"capabilityId": int, "score": 0, "rationale": "string"}],
                  "narrative": "<= 6 paragraphs, plain prose",
                  "topRisks": ["..."],
                  "topOpportunities": ["..."]
                }

                Output ONLY the JSON, no fences or prose.
              edition_type: basic
            - role: user
              text: |
                phase: {{#start.phase#}}
                industry: {{#start.industryName#}}
                orgContext: {{#start.orgContext#}}
                responses: {{#start.responses#}}
              edition_type: basic
      - id: parse
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Coerce JSON
          code_language: python3
          code: |
            import json
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    return {"payload": json.loads(s)}
                except Exception:
                    return {"payload": {"raw": text[:1000]}}
          variables:
            - { variable: text, value_selector: [analyze_llm, text] }
          outputs:
            payload: { type: object }
      - id: hmac
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(session_id: str, payload: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "sessionId": session_id,
                    "kind": "assessment",
                    "payload": payload,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: session_id, value_selector: [start, sessionId] }
            - { variable: payload, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: http-request
          title: POST /api/dify/callback/research-result
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: assessment-analyzer
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 60, max_write_timeout: 60 }
      - id: end
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: end
          title: End
          outputs:
            - { variable: payload, value_selector: [parse, payload] }
    edges:
      - { id: e1, source: start, target: analyze_llm }
      - { id: e2, source: analyze_llm, target: parse }
      - { id: e3, source: parse, target: hmac }
      - { id: e4, source: hmac, target: callback }
      - { id: e5, source: callback, target: end }
