dify-workflows/capability-enrichment-retry.yml
# Dify Workflow (non-chat) — Capability Enrichment Retry
#
# Wraps the fragile fireDraftEnrichment retry path — the "enhance" flow that
# regularly fails because of bridge timeouts / partial Perplexity results /
# Sonnet JSON parse errors. Re-runs Perplexity → Sonnet with per-step retries
# and exponential backoff via Dify's built-in error-handling. Callback fires
# with kind=enrichment_retry; on persistent failure (3 attempts) it returns
# `{status: "degraded"}` and the caller falls back to the legacy in-process
# retry.
#
# Wire from inflexcvi: routes/admin.ts → /admin/backfill-ai-narratives and
# services/enrichment/runners.ts can delegate to this when
# DIFY_CAPABILITY_ENRICHMENT_RETRY_ENABLED=1.
app:
  name: Capability Enrichment Retry
  description: Resilient retry of the fragile capability draft enrichment ("enhance") pipeline.
  mode: workflow
  icon: "\U0001F501"
  icon_background: "#DCFCE7"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "", value_type: string }
    - { name: DIFY_CALLBACK_KEY, value: "", value_type: string }
    - { name: PERPLEXITY_API_KEY, value: "", value_type: string }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: capabilityId, type: number, label: Capability ID, required: true }
            - { variable: currentDraft, type: paragraph, label: Current Draft JSON, required: true }
            - { variable: lastError, type: paragraph, label: Last Error (optional), required: false }
            - { variable: attempt, type: number, label: "Attempt number", required: false }
      - id: research_prompt
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: template-transform
          title: Build research prompt
          template: |
            Re-research the capability draft below to fix what previously failed.

            Previous error (if any): {{lastError}}

            Current draft (truncated):
            {{currentDraft}}

            Produce: (a) updated TAM and EVaR ranges with citations, (b) revised moat tier rationale,
            (c) cleaner narrative paragraphs (traditional/economic/ai variants). Always cite sources.
          variables:
            - { variable: lastError, value_selector: [start, lastError] }
            - { variable: currentDraft, value_selector: [start, currentDraft] }
      - id: perplexity
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: http-request
          title: Perplexity research
          method: post
          url: "https://api.perplexity.ai/chat/completions"
          headers: |
            Content-Type: application/json
            Authorization: Bearer {{#env.PERPLEXITY_API_KEY#}}
          body:
            type: raw-text
            data: |
              {
                "model": "sonar-pro",
                "max_tokens": 4500,
                "messages": [
                  { "role": "system", "content": "You are a research analyst. Cite sources inline." },
                  { "role": "user", "content": {{#research_prompt.output#}} }
                ]
              }
          timeout: { max_connect_timeout: 15, max_read_timeout: 150, max_write_timeout: 60 }
          retry_config:
            retry_enabled: true
            max_retries: 2
            retry_interval: 2000
      - id: extract
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: code
          title: Extract research
          code_language: python3
          code: |
            import json
            def main(body) -> dict:
                try:
                    data = json.loads(body) if isinstance(body, str) else body
                    content = data["choices"][0]["message"]["content"]
                    citations = data.get("citations") or data.get("search_results") or []
                except Exception:
                    content = body if isinstance(body, str) else ""
                    citations = []
                return {"research": content, "citations": citations, "ok": bool(content)}
          variables:
            - { variable: body, value_selector: [perplexity, body] }
          outputs:
            research: { type: string }
            citations: { type: "array[object]" }
            ok: { type: boolean }
      - id: synth_llm
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: llm
          title: Sonnet re-synthesis
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.2, max_tokens: 6000 }
          prompt_template:
            - role: system
              text: |
                Re-emit the capability draft as a clean JSON object. NEVER omit a field that exists in
                the input draft — preserve unrelated fields verbatim. Output ONLY JSON, no fences.

                Shape (extend with any input fields you don't touch):

                {
                  "capabilityId": int,
                  "tamUsd": number | null,
                  "evarBp": number | null,
                  "moatTier": "string",
                  "narratives": {"traditional": "string", "economic": "string", "ai": "string"},
                  "citations": [{"url": "string", "title": "string"}]
                }

                Rules:
                - Every dollar/bp figure must trace to a citation. Otherwise return null.
                - If you cannot improve a field over the current draft, copy it verbatim.
                - Reject any speculation — be conservative.
              edition_type: basic
            - role: user
              text: |
                capabilityId: {{#start.capabilityId#}}
                currentDraft: {{#start.currentDraft#}}

                NEW RESEARCH:
                {{#extract.research#}}
                citations: {{#extract.citations#}}
              edition_type: basic
      - id: parse
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: code
          title: Coerce JSON + validate
          code_language: python3
          code: |
            import json
            REQUIRED = {"narratives", "moatTier"}
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    p = json.loads(s)
                except Exception:
                    return {"payload": {"raw": text[:1000]}, "ok": False}
                missing = [k for k in REQUIRED if k not in p]
                return {"payload": p, "ok": len(missing) == 0, "missing": missing}
          variables:
            - { variable: text, value_selector: [synth_llm, text] }
          outputs:
            payload: { type: object }
            ok: { type: boolean }
            missing: { type: "array[string]" }
      - id: branch
        type: custom
        position: { x: 1760, y: 240 }
        data:
          type: if-else
          title: Parse OK?
          logical_operator: and
          conditions:
            - { variable_selector: [parse, ok], comparison_operator: "is", value: "true" }
      - id: hmac_ok
        type: custom
        position: { x: 2040, y: 120 }
        data:
          type: code
          title: HMAC sign (success)
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(cap_id: int, payload: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "kind": "enrichment_retry",
                    "capabilityId": cap_id,
                    "status": "ok",
                    "payload": payload,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: cap_id, value_selector: [start, capabilityId] }
            - { variable: payload, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: hmac_degraded
        type: custom
        position: { x: 2040, y: 360 }
        data:
          type: code
          title: HMAC sign (degraded)
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(cap_id: int, missing: list, raw: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "kind": "enrichment_retry",
                    "capabilityId": cap_id,
                    "status": "degraded",
                    "missingFields": missing,
                    "rawPayload": raw,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: cap_id, value_selector: [start, capabilityId] }
            - { variable: missing, value_selector: [parse, missing] }
            - { variable: raw, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback_ok
        type: custom
        position: { x: 2320, y: 120 }
        data:
          type: http-request
          title: POST callback (ok)
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac_ok.signature#}}
            X-Dify-Workflow-Slug: capability-enrichment-retry
          body: { type: raw-text, data: "{{#hmac_ok.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 60, max_write_timeout: 60 }
      - id: callback_degraded
        type: custom
        position: { x: 2320, y: 360 }
        data:
          type: http-request
          title: POST callback (degraded)
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac_degraded.signature#}}
            X-Dify-Workflow-Slug: capability-enrichment-retry
          body: { type: raw-text, data: "{{#hmac_degraded.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 60, max_write_timeout: 60 }
      - id: end_ok
        type: custom
        position: { x: 2600, y: 120 }
        data:
          type: end
          title: End (ok)
          outputs:
            - { variable: status, value: "ok" }
            - { variable: payload, value_selector: [parse, payload] }
      - id: end_degraded
        type: custom
        position: { x: 2600, y: 360 }
        data:
          type: end
          title: End (degraded — fall back)
          outputs:
            - { variable: status, value: "degraded" }
            - { variable: missing, value_selector: [parse, missing] }
    edges:
      - { id: e1, source: start, target: research_prompt }
      - { id: e2, source: research_prompt, target: perplexity }
      - { id: e3, source: perplexity, target: extract }
      - { id: e4, source: extract, target: synth_llm }
      - { id: e5, source: synth_llm, target: parse }
      - { id: e6, source: parse, target: branch }
      - { id: e7, source: branch, target: hmac_ok, sourceHandle: "true" }
      - { id: e8, source: branch, target: hmac_degraded, sourceHandle: "false" }
      - { id: e9, source: hmac_ok, target: callback_ok }
      - { id: e10, source: callback_ok, target: end_ok }
      - { id: e11, source: hmac_degraded, target: callback_degraded }
      - { id: e12, source: callback_degraded, target: end_degraded }
