dify-workflows/capability-review-assist.yml
# Dify Workflow (non-chat) — Capability Review Assist
#
# Triggered on review-reject-with-comment in routes/review.ts. Takes the
# reviewer's comment + the current draft, produces a structured list of
# revision_prompts the existing fireDraftEnrichment retry path consumes.
# Callback hits /api/dify/callback/research-result with kind=revision_prompts.
app:
  name: Capability Review Assist
  description: Produces revision prompts for a rejected capability draft.
  mode: workflow
  icon: "\U0001F4DD"
  icon_background: "#DBEAFE"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "", value_type: string }
    - { name: DIFY_CALLBACK_KEY, value: "", value_type: string }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: capabilityId, type: number, label: Capability ID, required: true }
            - { variable: reviewerComment, type: paragraph, label: Reviewer Comment, required: true }
            - { variable: currentDraft, type: paragraph, label: Current Draft JSON, required: true }
      - id: revise_llm
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: llm
          title: Revision Prompts LLM
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.2, max_tokens: 2000 }
          prompt_template:
            - role: system
              text: |
                A reviewer rejected a capability draft. Read the reviewer's comment and the current
                draft, then produce structured revision prompts the next enrichment pass will use.

                Output ONLY a JSON object, no prose:

                {
                  "summary": "1-sentence diagnosis of what the reviewer is asking to change",
                  "prompts": {
                    "perplexityFollowup": "string — what to research next, OR null",
                    "narrativeRevisions": ["bullet list of specific narrative changes"],
                    "metricRevisions": ["bullet list of metric changes (TAM/EVaR/moat etc)"]
                  },
                  "confidence": 0.0
                }

                If the reviewer's comment doesn't actually require a revision (e.g. just a question),
                return `confidence: 0` and explain in `summary`.
              edition_type: basic
            - role: user
              text: |
                Capability ID: {{#start.capabilityId#}}

                Reviewer comment:
                {{#start.reviewerComment#}}

                Current draft (truncated):
                {{#start.currentDraft#}}
              edition_type: basic
      - id: parse
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Coerce JSON
          code_language: python3
          code: |
            import json
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    return {"payload": json.loads(s)}
                except Exception:
                    return {"payload": {"summary": text[:300], "prompts": {}, "confidence": 0.0}}
          variables:
            - { variable: text, value_selector: [revise_llm, text] }
          outputs:
            payload: { type: object }
      - id: hmac
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(cap_id: int, payload: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "capabilityId": cap_id,
                    "kind": "revision_prompts",
                    "payload": payload,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: cap_id, value_selector: [start, capabilityId] }
            - { variable: payload, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: http-request
          title: POST /api/dify/callback/research-result
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: capability-review-assist
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 60, max_write_timeout: 60 }
      - id: end
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: end
          title: End
          outputs:
            - { variable: payload, value_selector: [parse, payload] }
    edges:
      - { id: e1, source: start, target: revise_llm }
      - { id: e2, source: revise_llm, target: parse }
      - { id: e3, source: parse, target: hmac }
      - { id: e4, source: hmac, target: callback }
      - { id: e5, source: callback, target: end }
