dify-workflows/case-study-generator.yml
# Dify Workflow (non-chat) — Case Study Generator
#
# Replaces the inline Sonnet call at routes/case-studies.ts:93
# (POST /admin/case-studies/:id/regenerate-economics-breakdown). Triggered
# by an admin clicking "Regenerate Economics Breakdown" in the admin UI.
# Callback fires with kind=case_study_economics so the route can write it
# back to the case_studies row.
app:
  name: Case Study Generator
  description: Regenerates a case study's economics breakdown on admin trigger.
  mode: workflow
  icon: "\U0001F4D6"
  icon_background: "#FCE7F3"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "", value_type: string }
    - { name: DIFY_CALLBACK_KEY, value: "", value_type: string }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: caseStudyId, type: number, label: Case Study ID, required: true }
            - { variable: industryName, type: text-input, label: Industry Name, required: true, max_length: 128 }
            - { variable: currentText, type: paragraph, label: Current Case Study Text, required: true }
      - id: economics_llm
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: llm
          title: Economics Breakdown LLM
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.2, max_tokens: 4000 }
          prompt_template:
            - role: system
              text: |
                Produce an economics breakdown for the given case study. Output ONLY JSON, no fences.

                {
                  "summary": "<= 2 paragraphs in plain prose",
                  "unitEconomics": [
                    {"metric": "string", "valueUsd": null, "rationale": "string"}
                  ],
                  "tamReachable": { "valueUsd": null, "notes": "string" },
                  "marginProfile": "string — 1-2 sentences",
                  "sensitivityFactors": ["bullet list"]
                }

                Rules:
                - Use null for numbers you can't source from the case study text.
                - Never fabricate dollar figures or growth rates.
                - All claims must be grounded in `currentText`. No outside knowledge.
              edition_type: basic
            - role: user
              text: |
                Case study ID: {{#start.caseStudyId#}}
                Industry: {{#start.industryName#}}

                Case study text:
                {{#start.currentText#}}
              edition_type: basic
      - id: parse
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Coerce JSON
          code_language: python3
          code: |
            import json
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    return {"payload": json.loads(s)}
                except Exception:
                    return {"payload": {"error": "parse_failed", "raw": text[:800]}}
          variables:
            - { variable: text, value_selector: [economics_llm, text] }
          outputs:
            payload: { type: object }
      - id: hmac
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(case_id: int, payload: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "kind": "case_study_economics",
                    "caseStudyId": case_id,
                    "payload": payload,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: case_id, value_selector: [start, caseStudyId] }
            - { variable: payload, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: http-request
          title: POST /api/dify/callback/research-result
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: case-study-generator
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 60, max_write_timeout: 60 }
      - id: end
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: end
          title: End
          outputs:
            - { variable: payload, value_selector: [parse, payload] }
    edges:
      - { id: e1, source: start, target: economics_llm }
      - { id: e2, source: economics_llm, target: parse }
      - { id: e3, source: parse, target: hmac }
      - { id: e4, source: hmac, target: callback }
      - { id: e5, source: callback, target: end }
