dify-workflows/industry-bootstrap.yml
# Dify Workflow (non-chat) — Industry Bootstrap
#
# Materializes a new industry on demand. Replaces inline Perplexity + Sonnet
# calls in routes/dynamic-industries.ts (POST /industries — admin route). Calls
# back to /api/dify/callback/research-result with kind=industry_bootstrap so
# the route handler can insert the rows in one transaction.
app:
  name: Industry Bootstrap
  description: Perplexity + Sonnet → full industry seed (capabilities, value chain, companies).
  mode: workflow
  icon: "\U0001F3ED"
  icon_background: "#FEF3C7"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "" }
    - { name: DIFY_CALLBACK_KEY, value: "" }
    - { name: PERPLEXITY_API_KEY, value: "" }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: industryName, type: text-input, label: Industry Name, required: true, max_length: 128 }
            - { variable: seedPrompt, type: paragraph, label: Seed Prompt (optional), required: false }
      - id: perplexity
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: http-request
          title: Perplexity research
          method: post
          url: "https://api.perplexity.ai/chat/completions"
          headers: |
            Content-Type: application/json
            Authorization: Bearer {{#env.PERPLEXITY_API_KEY#}}
          body:
            type: raw-text
            data: |
              {
                "model": "sonar-pro",
                "max_tokens": 6000,
                "messages": [
                  {"role":"system","content":"You are an industry analyst. Use only verifiable, citable sources."},
                  {"role":"user","content":"Research the {{#start.industryName#}} industry. Identify (a) 8-12 core capabilities that drive competitive position, (b) the 4-6 value chain stages, (c) 10-20 major companies with headquarters + employee count + 2024 revenue if disclosed. {{#start.seedPrompt#}}"}
                ]
              }
          timeout: { max_connect_timeout: 15, max_read_timeout: 180, max_write_timeout: 60 }
      - id: extract
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Extract research
          code_language: python3
          code: |
            import json
            def main(body) -> dict:
                try:
                    data = json.loads(body) if isinstance(body, str) else body
                    content = data["choices"][0]["message"]["content"]
                    citations = data.get("citations") or data.get("search_results") or []
                except Exception:
                    content = body if isinstance(body, str) else ""
                    citations = []
                return {"research": content, "citations": citations}
          variables:
            - { variable: body, value_selector: [perplexity, body] }
          outputs:
            research: { type: string }
            citations: { type: array[object] }
      - id: shape_llm
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: llm
          title: Shape into industry seed
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.1, max_tokens: 8000 }
          prompt_template:
            - role: system
              text: |
                Convert the research into a strict JSON shape for industry-bootstrap. Output ONLY JSON.

                {
                  "industry": { "name": "string", "description": "<= 280 chars" },
                  "capabilities": [
                    { "name": "string", "description": "string", "quadrant": "core|differentiator|qualifier|peripheral" }
                  ],
                  "valueChain": [
                    { "name": "string", "description": "string", "order": 1 }
                  ],
                  "companies": [
                    { "name": "string", "headquarters": "string", "employeeCount": null, "revenue2024Usd": null }
                  ],
                  "citations": [{"url": "string", "title": "string"}]
                }

                Rules:
                - 8-12 capabilities, 4-6 valueChain stages, 10-20 companies.
                - `quadrant` is your best judgment; do not invent if unclear — use "qualifier" as the safe default.
                - Use null for numeric fields you can't source. Never fabricate revenue or headcount.
                - Preserve every research citation verbatim.
              edition_type: basic
            - role: user
              text: |
                industryName: {{#start.industryName#}}

                Research:
                {{#extract.research#}}

                Raw citations:
                {{#extract.citations#}}
              edition_type: basic
      - id: parse
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: code
          title: Coerce JSON
          code_language: python3
          code: |
            import json
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    return {"payload": json.loads(s)}
                except Exception:
                    return {"payload": {"error": "parse_failed", "raw": text[:1000]}}
          variables:
            - { variable: text, value_selector: [shape_llm, text] }
          outputs:
            payload: { type: object }
      - id: hmac
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(industry_name: str, payload: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "kind": "industry_bootstrap",
                    "industryName": industry_name,
                    "payload": payload,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: industry_name, value_selector: [start, industryName] }
            - { variable: payload, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1760, y: 240 }
        data:
          type: http-request
          title: POST /api/dify/callback/research-result
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: industry-bootstrap
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 90, max_write_timeout: 90 }
      - id: end
        type: custom
        position: { x: 2040, y: 240 }
        data:
          type: end
          title: End
          outputs:
            - { variable: payload, value_selector: [parse, payload] }
    edges:
      - { id: e1, source: start, target: perplexity }
      - { id: e2, source: perplexity, target: extract }
      - { id: e3, source: extract, target: shape_llm }
      - { id: e4, source: shape_llm, target: parse }
      - { id: e5, source: parse, target: hmac }
      - { id: e6, source: hmac, target: callback }
      - { id: e7, source: callback, target: end }
