dify-workflows/kyc-failure-counselor.yml
# Dify Chatflow — KYC Failure Counselor
#
# Triggered on KYC decline / AML hit / liveness failure. Captures a
# structured appeal via /api/dify/callback/kyc-appeal. Does NOT override the
# decline — the structured appeal is queued for the compliance reviewer.
# Hard rules: never advise the user to retry KYC with different data; never
# promise approval; surface declines clearly.
app:
  name: KYC Failure Counselor
  description: Captures a structured appeal after a KYC decline. Routes to compliance reviewer.
  mode: advanced-chat
  icon: "\U0001F4DD"
  icon_background: "#FCE7F3"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "" }
    - { name: DIFY_CALLBACK_KEY, value: "" }
  conversation_variables: []
  features:
    file_upload: { enabled: false }
    opening_statement: "I see your verification didn't go through. I can capture an appeal for the compliance team — I won't be able to override the decision myself, but I'll make sure your case gets reviewed properly. What feels wrong about this outcome?"
    suggested_questions:
      - "My name has changed since my ID was issued"
      - "I think my address didn't match because I just moved"
      - "I tried the selfie three times — what should I do?"
    text_to_speech: { enabled: false }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: verificationId, type: text-input, label: Verification ID, required: true, max_length: 64 }
            - { variable: declineReason, type: text-input, label: Decline Reason, required: true, max_length: 128 }
            - { variable: kycLevel, type: text-input, label: KYC Level, required: false, max_length: 32 }
      - id: counselor_llm
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: llm
          title: Counselor LLM
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.3, max_tokens: 1500 }
          prompt_template:
            - role: system
              text: |
                You are the KYC Counselor. Your job: gather a structured appeal so a human compliance
                reviewer can decide whether to re-run verification.

                Hard rules — NEVER violate:
                - You DO NOT override the decline. Say so plainly.
                - You DO NOT promise approval, fast-track, or refund.
                - You DO NOT advise re-submitting with different data; only capture the appeal as-is.
                - If the user describes potential fraud or coercion, end the conversation and tell them
                  to email security@inflexcvi.com.

                Otherwise, ask up to 3 short questions to capture:
                  reasonCategory: "data_mismatch" | "liveness_quality" | "document_quality" | "identity_change" | "other"
                  userExplanation: free text, paraphrased
                  evidenceOffered: short list of what the user says they can provide

                When you have enough, end with a fenced JSON block:

                ```json
                {
                  "readyToSubmit": true,
                  "structuredAppeal": {
                    "reasonCategory": "...",
                    "userExplanation": "...",
                    "evidenceOffered": ["..."]
                  }
                }
                ```

                Otherwise:

                ```json
                { "readyToSubmit": false, "nextQuestion": "..." }
                ```
              edition_type: basic
            - role: user
              text: "Decline reason: {{#start.declineReason#}}\nKYC level: {{#start.kycLevel#}}\n\nUser: {{#sys.query#}}"
              edition_type: basic
      - id: parse_json
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Parse JSON tail
          code_language: python3
          code: |
            import json, re
            def main(text: str) -> dict:
                m = re.search(r"```json\s*(\{.*?\})\s*```", text, re.DOTALL)
                if not m:
                    return {"ready": False, "answer": text, "appeal": None}
                try:
                    p = json.loads(m.group(1))
                except Exception:
                    return {"ready": False, "answer": text, "appeal": None}
                clean = text[:m.start()].strip()
                return {
                    "ready": bool(p.get("readyToSubmit")),
                    "answer": clean or p.get("nextQuestion", ""),
                    "appeal": p.get("structuredAppeal"),
                }
          variables:
            - { variable: text, value_selector: [counselor_llm, text] }
          outputs:
            ready: { type: boolean }
            answer: { type: string }
            appeal: { type: object }
      - id: branch
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: if-else
          title: Ready to submit?
          logical_operator: and
          conditions:
            - { variable_selector: [parse_json, ready], comparison_operator: "is", value: "true" }
      - id: hmac
        type: custom
        position: { x: 1200, y: 120 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(verification_id: str, appeal: dict, run_id: str, key: str) -> dict:
                payload = {
                    "clientRequestId": run_id,
                    "verificationId": verification_id,
                    "structuredAppeal": appeal or {},
                }
                msg = json.dumps(payload, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: verification_id, value_selector: [start, verificationId] }
            - { variable: appeal, value_selector: [parse_json, appeal] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1480, y: 120 }
        data:
          type: http-request
          title: POST /api/dify/callback/kyc-appeal
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/kyc-appeal"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: kyc-failure-counselor
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 20, max_write_timeout: 20 }
      - id: answer_submitted
        type: custom
        position: { x: 1760, y: 120 }
        data:
          type: answer
          title: Answer (submitted)
          answer: "Thanks — I've recorded the appeal and it'll go to a human reviewer within 1 business day. You'll get an email when there's a decision.\n\n{{#parse_json.answer#}}"
      - id: answer_continue
        type: custom
        position: { x: 1200, y: 360 }
        data:
          type: answer
          title: Answer (continue)
          answer: "{{#parse_json.answer#}}"
    edges:
      - { id: e1, source: start, target: counselor_llm }
      - { id: e2, source: counselor_llm, target: parse_json }
      - { id: e3, source: parse_json, target: branch }
      - { id: e4, source: branch, target: hmac, sourceHandle: "true" }
      - { id: e5, source: branch, target: answer_continue, sourceHandle: "false" }
      - { id: e6, source: hmac, target: callback }
      - { id: e7, source: callback, target: answer_submitted }
