dify-workflows/listing-moderation.yml
# Dify Workflow (non-chat) — Listing Moderation
#
# Triggered on marketplace listing submission. Reads title + description +
# (optional) PDF text + seller history, produces a verdict and risk flags,
# and fires a callback to /api/dify/callback/moderation-verdict. Runs in
# PARALLEL to the manual moderation queue — moderation_hints is advisory.
app:
  name: Listing Moderation
  description: Classifies seller submissions into auto_approve / send_to_moderator / auto_reject.
  mode: workflow
  icon: "\U0001F6E1"
  icon_background: "#FEE2E2"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "", value_type: string }
    - { name: DIFY_CALLBACK_KEY, value: "", value_type: string }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: listingId, type: number, label: Listing ID, required: true }
            - { variable: title, type: text-input, label: Title, required: true, max_length: 256 }
            - { variable: description, type: paragraph, label: Description, required: true }
            - { variable: sellerHistory, type: paragraph, label: Seller history JSON, required: false }
            - { variable: pdfText, type: paragraph, label: PDF Text (optional), required: false }
      - id: classify_llm
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: llm
          title: Classify listing
          model:
            provider: anthropic
            name: claude-3-5-haiku-latest
            mode: chat
            completion_params: { temperature: 0.0, max_tokens: 800 }
          prompt_template:
            - role: system
              text: |
                You moderate inflexcvi marketplace listings. Output ONLY a JSON object — no prose:

                {
                  "verdict": "auto_approve" | "send_to_moderator" | "auto_reject",
                  "riskFlags": ["array of short strings"],
                  "confidence": 0.0,
                  "rationale": "<= 2 sentences"
                }

                Defaults:
                - `auto_approve` only when the listing is clearly legitimate (clear category, plausible
                  pricing, no compliance flags) AND `confidence >= 0.85`.
                - `auto_reject` only for explicit policy violations (regulated rails, deceptive claims,
                  obvious spam).
                - Anything else → `send_to_moderator` so a human reviews.

                Risk flags vocabulary (use only these): `unclear_category`, `pricing_anomaly`,
                `compliance_risk`, `seller_velocity`, `pdf_unreadable`, `language`, `duplicate`.
              edition_type: basic
            - role: user
              text: |
                listingId: {{#start.listingId#}}
                title: {{#start.title#}}
                description:
                {{#start.description#}}

                sellerHistory: {{#start.sellerHistory#}}
                pdfText: {{#start.pdfText#}}
              edition_type: basic
      - id: parse_json
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Coerce verdict JSON
          code_language: python3
          code: |
            import json
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    p = json.loads(s)
                except Exception:
                    return {"verdict": "send_to_moderator", "riskFlags": ["parse_error"], "confidence": 0.0, "rationale": text[:200]}
                v = p.get("verdict") or "send_to_moderator"
                if v not in ("auto_approve", "send_to_moderator", "auto_reject"):
                    v = "send_to_moderator"
                return {
                    "verdict": v,
                    "riskFlags": p.get("riskFlags") or [],
                    "confidence": float(p.get("confidence") or 0.0),
                    "rationale": p.get("rationale") or "",
                }
          variables:
            - { variable: text, value_selector: [classify_llm, text] }
          outputs:
            verdict: { type: string }
            riskFlags: { type: "array[string]" }
            confidence: { type: number }
            rationale: { type: string }
      - id: hmac
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(listing_id: int, verdict: str, flags: list, conf: float, rationale: str, run_id: str, key: str) -> dict:
                payload = {
                    "clientRequestId": run_id,
                    "listingId": listing_id,
                    "verdict": verdict,
                    "riskFlags": flags,
                    "confidence": conf,
                    "rationale": rationale,
                }
                msg = json.dumps(payload, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: listing_id, value_selector: [start, listingId] }
            - { variable: verdict, value_selector: [parse_json, verdict] }
            - { variable: flags, value_selector: [parse_json, riskFlags] }
            - { variable: conf, value_selector: [parse_json, confidence] }
            - { variable: rationale, value_selector: [parse_json, rationale] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: http-request
          title: POST /api/dify/callback/moderation-verdict
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/moderation-verdict"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: listing-moderation
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 20, max_write_timeout: 20 }
      - id: end
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: end
          title: End
          outputs:
            - { variable: verdict, value_selector: [parse_json, verdict] }
            - { variable: riskFlags, value_selector: [parse_json, riskFlags] }
            - { variable: confidence, value_selector: [parse_json, confidence] }
            - { variable: rationale, value_selector: [parse_json, rationale] }
    edges:
      - { id: e1, source: start, target: classify_llm }
      - { id: e2, source: classify_llm, target: parse_json }
      - { id: e3, source: parse_json, target: hmac }
      - { id: e4, source: hmac, target: callback }
      - { id: e5, source: callback, target: end }
