dify-workflows/onboarding-concierge.yml
# Dify Chatflow — Onboarding Concierge
#
# Asks the user 2-3 qualifying questions, then (when it has enough signal)
# emits a structured boardSeed AND fires an HMAC-signed callback to
# /api/dify/callback/seed-board so inflexcvi can create the starter board
# asynchronously while the synchronous answer streams back to the UI.
#
# Inputs (passed in `inputs`):
#   clerkUserId      string  required
#   clerkOrgId       string  optional
#   selectedIndustry string  optional
#   signals          object  optional (running tally of answers so far)
#
# Required Dify environment variables (Settings → Environment Variables):
#   INFLEXCVI_API_BASE   e.g. https://capabilityeconomics-staging.up.railway.app
#   DIFY_CALLBACK_KEY    shared HMAC secret (same value set on inflexcvi api-server)
app:
  name: Onboarding Concierge
  description: New-user concierge that asks qualifying questions and seeds a starter workbench board.
  mode: advanced-chat
  icon: "\U0001F44B"
  icon_background: "#FFEAD5"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - name: INFLEXCVI_API_BASE
      value: ""
    - name: DIFY_CALLBACK_KEY
      value: ""
  conversation_variables:
    - name: signals
      value_type: object
      value: {}
  features:
    file_upload:
      enabled: false
    opening_statement: "Hi! I'll help you pick 3-5 capabilities to start tracking. What industry are you focused on, and what's the single decision you're trying to make this quarter?"
    suggested_questions:
      - "I run a hospital system — help me prioritize"
      - "We're a mid-market SaaS — what should I track?"
      - "I'm exploring this tool, just show me what's possible"
    text_to_speech:
      enabled: false
    retriever_resource:
      enabled: false
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: clerkUserId, type: text-input, label: Clerk User ID, required: true, max_length: 64 }
            - { variable: clerkOrgId, type: text-input, label: Clerk Org ID, required: false, max_length: 64 }
            - { variable: selectedIndustry, type: text-input, label: Selected Industry, required: false, max_length: 128 }
      - id: concierge_llm
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: llm
          title: Concierge LLM
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.3, max_tokens: 1500 }
          prompt_template:
            - role: system
              text: |
                You are the inflexcvi Onboarding Concierge. Your job: in 2-3 turns, gather enough
                signal to recommend 3-5 capabilities the user should start tracking.

                Always end your reply with a fenced JSON block of the shape:

                ```json
                { "readyToSeed": false, "nextQuestion": "..." }
                ```

                or, once you have enough signal:

                ```json
                {
                  "readyToSeed": true,
                  "boardSeed": {
                    "boardName": "string",
                    "description": "string",
                    "cards": [
                      { "capabilityName": "string", "lane": "now|next|later", "notes": "string" }
                    ]
                  }
                }
                ```

                Cards should reference real capability names where you have signal; otherwise leave the
                array empty and let the legacy ideation flow fill them. Be specific to the industry the
                user mentions. Never invent KPIs.
              edition_type: basic
            - role: user
              text: "Industry hint: {{#start.selectedIndustry#}}\n\nUser message: {{#sys.query#}}"
              edition_type: basic
      - id: parse_json
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Parse JSON tail
          code_language: python3
          code: |
            import json, re
            def main(text: str) -> dict:
                m = re.search(r"```json\s*(\{.*?\})\s*```", text, re.DOTALL)
                if not m:
                    return {"ready": False, "answer": text, "boardSeed": None}
                try:
                    parsed = json.loads(m.group(1))
                except Exception:
                    return {"ready": False, "answer": text, "boardSeed": None}
                clean = text[:m.start()].strip()
                return {
                    "ready": bool(parsed.get("readyToSeed")),
                    "answer": clean or parsed.get("nextQuestion", ""),
                    "boardSeed": parsed.get("boardSeed"),
                }
          variables:
            - { variable: text, value_selector: [concierge_llm, text] }
          outputs:
            ready: { type: boolean }
            answer: { type: string }
            boardSeed: { type: object }
      - id: branch
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: if-else
          title: Ready to seed?
          logical_operator: and
          conditions:
            - { variable_selector: [parse_json, ready], comparison_operator: "is", value: "true" }
      - id: hmac
        type: custom
        position: { x: 1200, y: 120 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(body: dict, key: str) -> dict:
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - variable: body
              value_selector: [parse_json, boardSeed]
            - variable: key
              value_selector: [env, DIFY_CALLBACK_KEY]
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1480, y: 120 }
        data:
          type: http-request
          title: POST /api/dify/callback/seed-board
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/seed-board"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: onboarding-concierge
          body:
            type: raw-text
            data: |
              {
                "clientRequestId": "{{#sys.conversation_id#}}-{{#sys.workflow_run_id#}}",
                "clerkUserId": "{{#start.clerkUserId#}}",
                "clerkOrgId": "{{#start.clerkOrgId#}}",
                "boardSeed": {{#hmac.body#}}
              }
          timeout: { max_connect_timeout: 10, max_read_timeout: 30, max_write_timeout: 30 }
      - id: answer_seeded
        type: custom
        position: { x: 1760, y: 120 }
        data:
          type: answer
          title: Answer (seeded)
          answer: "{{#parse_json.answer#}}\n\nI've started a starter board for you — check your workbench in a moment."
      - id: answer_continue
        type: custom
        position: { x: 1200, y: 360 }
        data:
          type: answer
          title: Answer (continue)
          answer: "{{#parse_json.answer#}}"
    edges:
      - { id: e1, source: start, target: concierge_llm, sourceHandle: source, targetHandle: target }
      - { id: e2, source: concierge_llm, target: parse_json, sourceHandle: source, targetHandle: target }
      - { id: e3, source: parse_json, target: branch, sourceHandle: source, targetHandle: target }
      - { id: e4, source: branch, target: hmac, sourceHandle: "true", targetHandle: target }
      - { id: e5, source: branch, target: answer_continue, sourceHandle: "false", targetHandle: target }
      - { id: e6, source: hmac, target: callback, sourceHandle: source, targetHandle: target }
      - { id: e7, source: callback, target: answer_seeded, sourceHandle: source, targetHandle: target }
