dify-workflows/research-pipeline.yml
# Dify Workflow (non-chat) — Research Pipeline
#
# Generic Perplexity → Sonnet synthesis flow. Replaces inline calls in
# enrichment/runners.ts + alpha/enrich.ts when DIFY_RESEARCH_PIPELINE_ENABLED=1.
# Callback hits /api/dify/callback/research-result with the requested `kind`.
#
# Required Dify environment variables:
#   PERPLEXITY_API_KEY    same key configured on inflexcvi api-server
#   INFLEXCVI_API_BASE
#   DIFY_CALLBACK_KEY
app:
  name: Research Pipeline
  description: Perplexity research → Sonnet synthesis → callback to inflexcvi.
  mode: workflow
  icon: "\U0001F50D"
  icon_background: "#E0E7FF"
kind: app
version: 0.1.5
workflow:
  environment_variables:
    - { name: INFLEXCVI_API_BASE, value: "", value_type: string }
    - { name: DIFY_CALLBACK_KEY, value: "", value_type: string }
    - { name: PERPLEXITY_API_KEY, value: "", value_type: string }
  conversation_variables: []
  features: { file_upload: { enabled: false }, text_to_speech: { enabled: false } }
  graph:
    nodes:
      - id: start
        type: custom
        position: { x: 80, y: 240 }
        data:
          type: start
          title: Start
          variables:
            - { variable: capabilityId, type: number, label: Capability ID, required: false }
            - { variable: kind, type: select, label: Kind, required: true, options: [quadrant, alpha, value_chain, generic] }
            - { variable: prompt, type: paragraph, label: Research Prompt, required: true }
      - id: perplexity
        type: custom
        position: { x: 360, y: 240 }
        data:
          type: http-request
          title: Perplexity research
          method: post
          url: "https://api.perplexity.ai/chat/completions"
          headers: |
            Content-Type: application/json
            Authorization: Bearer {{#env.PERPLEXITY_API_KEY#}}
          body:
            type: raw-text
            data: |
              {
                "model": "sonar-pro",
                "max_tokens": 4096,
                "messages": [
                  { "role": "system", "content": "You are a research analyst. Cite sources inline." },
                  { "role": "user", "content": {{#start.prompt#}} }
                ]
              }
          timeout: { max_connect_timeout: 15, max_read_timeout: 120, max_write_timeout: 60 }
      - id: extract_research
        type: custom
        position: { x: 640, y: 240 }
        data:
          type: code
          title: Extract Perplexity body
          code_language: python3
          code: |
            import json
            def main(body: str) -> dict:
                try:
                    data = json.loads(body) if isinstance(body, str) else body
                    content = data["choices"][0]["message"]["content"]
                    citations = data.get("citations") or data.get("search_results") or []
                except Exception:
                    content = body if isinstance(body, str) else ""
                    citations = []
                return {"research": content, "citations": citations}
          variables:
            - { variable: body, value_selector: [perplexity, body] }
          outputs:
            research: { type: string }
            citations: { type: "array[object]" }
      - id: synth_llm
        type: custom
        position: { x: 920, y: 240 }
        data:
          type: llm
          title: Sonnet synthesis
          model:
            provider: anthropic
            name: claude-3-7-sonnet-latest
            mode: chat
            completion_params: { temperature: 0.2, max_tokens: 4000 }
          prompt_template:
            - role: system
              text: |
                Synthesize the research below into a structured payload appropriate for `kind`.

                For `kind=quadrant`: emit { quadrant: "...", justification: "...", confidence: 0.0 }.
                For `kind=alpha`: emit { tamUsd: number|null, evarBp: number|null, moatTier: "...",
                  narratives: {traditional, economic, ai}, citations: [...] }.
                For `kind=value_chain`: emit { stages: [{name, description, players: [...]}] }.
                For `kind=generic`: emit { summary: string, bullets: [...] }.

                Output ONLY the JSON object — no prose, no fences. Preserve citations verbatim.
              edition_type: basic
            - role: user
              text: |
                kind: {{#start.kind#}}
                capabilityId: {{#start.capabilityId#}}

                Research:
                {{#extract_research.research#}}

                Citations:
                {{#extract_research.citations#}}
              edition_type: basic
      - id: parse
        type: custom
        position: { x: 1200, y: 240 }
        data:
          type: code
          title: Coerce JSON
          code_language: python3
          code: |
            import json
            def main(text: str) -> dict:
                s = text.strip()
                if s.startswith("```"):
                    s = s.strip("`")
                    if s.startswith("json"):
                        s = s[4:]
                try:
                    return {"payload": json.loads(s)}
                except Exception:
                    return {"payload": {"summary": text[:500]}}
          variables:
            - { variable: text, value_selector: [synth_llm, text] }
          outputs:
            payload: { type: object }
      - id: hmac
        type: custom
        position: { x: 1480, y: 240 }
        data:
          type: code
          title: HMAC sign body
          code_language: python3
          code: |
            import hmac, hashlib, json
            def main(cap_id, kind: str, payload: dict, run_id: str, key: str) -> dict:
                body = {
                    "clientRequestId": run_id,
                    "capabilityId": cap_id,
                    "kind": kind,
                    "payload": payload,
                }
                msg = json.dumps(body, separators=(",", ":"), sort_keys=True).encode("utf-8")
                sig = hmac.new(key.encode("utf-8"), msg, hashlib.sha256).hexdigest()
                return {"signature": sig, "body": msg.decode("utf-8")}
          variables:
            - { variable: cap_id, value_selector: [start, capabilityId] }
            - { variable: kind, value_selector: [start, kind] }
            - { variable: payload, value_selector: [parse, payload] }
            - { variable: run_id, value_selector: [sys, workflow_run_id] }
            - { variable: key, value_selector: [env, DIFY_CALLBACK_KEY] }
          outputs:
            signature: { type: string }
            body: { type: string }
      - id: callback
        type: custom
        position: { x: 1760, y: 240 }
        data:
          type: http-request
          title: POST /api/dify/callback/research-result
          method: post
          url: "{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result"
          headers: |
            Content-Type: application/json
            X-Dify-Callback-Signature: {{#hmac.signature#}}
            X-Dify-Workflow-Slug: research-pipeline
          body: { type: raw-text, data: "{{#hmac.body#}}" }
          timeout: { max_connect_timeout: 10, max_read_timeout: 60, max_write_timeout: 60 }
      - id: end
        type: custom
        position: { x: 2040, y: 240 }
        data:
          type: end
          title: End
          outputs:
            - { variable: payload, value_selector: [parse, payload] }
    edges:
      - { id: e1, source: start, target: perplexity }
      - { id: e2, source: perplexity, target: extract_research }
      - { id: e3, source: extract_research, target: synth_llm }
      - { id: e4, source: synth_llm, target: parse }
      - { id: e5, source: parse, target: hmac }
      - { id: e6, source: hmac, target: callback }
      - { id: e7, source: callback, target: end }
