dify-workflows/_backup-2026-05-17/admin-config-proposer.yml
app:
  description: Proposes new values for admin-tunable settings, routed through HITL
    approval.
  icon: 🎛
  icon_background: '#E0E7FF'
  icon_type: emoji
  mode: workflow
  name: admin-config-proposer
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 6d42f03d-f551-4f19-b499-52e9df42a4f1
    name: INFLEXCVI_API_BASE
    selector:
    - env
    - INFLEXCVI_API_BASE
    value: ''
    value_type: string
  - description: ''
    id: 62d3a08e-3bd3-429b-83ae-1032040c3f8a
    name: DIFY_CALLBACK_KEY
    selector:
    - env
    - DIFY_CALLBACK_KEY
    value: ''
    value_type: string
  features:
    file_upload:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: propose_llm
    - id: e2
      source: propose_llm
      target: parse
    - id: e3
      source: parse
      target: branch
    - id: e4
      source: branch
      sourceHandle: 'true'
      target: hmac
    - id: e5
      source: branch
      sourceHandle: 'false'
      target: end_abstain
    - id: e6
      source: hmac
      target: callback
    - id: e7
      source: callback
      target: end_proposed
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Config Area
          options:
          - economic_rules
          - agent_tuning
          - enrichment_config
          - source_quality
          - bot_config
          required: true
          type: select
          variable: configArea
        - label: Current Values JSON
          required: true
          type: paragraph
          variable: currentValues
        - label: Recent Outcomes JSON
          required: true
          type: paragraph
          variable: recentOutcomes
        - label: Target Key (optional — narrow proposal)
          max_length: 128
          required: false
          type: text-input
          variable: targetKey
        - label: Triggered By (admin user or "cron")
          max_length: 64
          required: true
          type: text-input
          variable: triggeredBy
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 3000
            temperature: 0.2
          mode: chat
          name: claude-3-7-sonnet-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: "You propose tweaked values for admin-tunable settings. A human will\
            \ approve or reject\nevery proposal — your job is to make a well-reasoned,\
            \ conservative recommendation\nwith clear rationale. NEVER propose a value\
            \ you cannot defend with the recent\noutcomes data.\n\nOutput ONLY a JSON\
            \ object:\n\n{\n  \"configArea\": \"string\",\n  \"proposals\": [\n  \
            \  {\n      \"key\": \"string — the specific setting being changed\",\n\
            \      \"currentValue\": <any — copy from input>,\n      \"proposedValue\"\
            : <any — your suggestion>,\n      \"delta\": \"string — direction + magnitude\
            \ in plain words\",\n      \"rationale\": \"string — 1-2 sentences citing\
            \ recent outcomes\",\n      \"confidence\": 0.0\n    }\n  ],\n  \"abstentions\"\
            : [\n    {\"key\": \"string\", \"reason\": \"why you did not propose a\
            \ change for this one\"}\n  ]\n}\n\nHard rules:\n- Never change more than\
            \ 5 keys in one proposal — surgical wins over sweeping.\n- For numeric\
            \ thresholds: propose at most a 25% delta in one step.\n- For model selections:\
            \ switch only between known-supported options\n  (sonnet-4.6, haiku-4.5,\
            \ gemini-2.0-flash-001, deepseek-chat-v3).\n- Abstain explicitly on keys\
            \ where outcomes are inconclusive — abstaining is fine.\n"
        - edition_type: basic
          role: user
          text: 'configArea: {{#start.configArea#}}

            targetKey hint: {{#start.targetKey#}}

            triggeredBy: {{#start.triggeredBy#}}


            CURRENT VALUES:

            {{#start.currentValues#}}


            RECENT OUTCOMES (last 30 days):

            {{#start.recentOutcomes#}}

            '
        title: Propose values
        type: llm
      id: propose_llm
      position:
        x: 360
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(text: str) -> dict:\n    s = text.strip()\n \
          \   if s.startswith(\"```\"):\n        s = s.strip(\"`\")\n        if s.startswith(\"\
          json\"):\n            s = s[4:]\n    try:\n        p = json.loads(s)\n \
          \   except Exception:\n        return {\"payload\": {\"proposals\": [],\
          \ \"abstentions\": [], \"raw\": text[:600]}, \"count\": 0}\n    count =\
          \ len(p.get(\"proposals\") or [])\n    return {\"payload\": p, \"count\"\
          : count}\n"
        code_language: python3
        outputs:
          count:
            type: number
          payload:
            type: object
        title: Coerce JSON
        type: code
        variables:
        - value_selector:
          - propose_llm
          - text
          variable: text
      id: parse
      position:
        x: 640
        y: 240
      type: custom
    - data:
        conditions:
        - comparison_operator: '>'
          value: '0'
          variable_selector:
          - parse
          - count
        logical_operator: and
        title: Any proposals?
        type: if-else
      id: branch
      position:
        x: 920
        y: 240
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(area: str, payload: dict, triggered_by:\
          \ str, run_id: str, key: str) -> dict:\n    body = {\n        \"clientRequestId\"\
          : run_id,\n        \"configArea\": area,\n        \"triggeredBy\": triggered_by,\n\
          \        \"proposals\": payload.get(\"proposals\", []),\n        \"abstentions\"\
          : payload.get(\"abstentions\", []),\n    }\n    msg = json.dumps(body, separators=(\"\
          ,\", \":\"), sort_keys=True).encode(\"utf-8\")\n    sig = hmac.new(key.encode(\"\
          utf-8\"), msg, hashlib.sha256).hexdigest()\n    return {\"signature\": sig,\
          \ \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign body
        type: code
        variables:
        - value_selector:
          - start
          - configArea
          variable: area
        - value_selector:
          - parse
          - payload
          variable: payload
        - value_selector:
          - start
          - triggeredBy
          variable: triggered_by
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac
      position:
        x: 1200
        y: 120
      type: custom
    - data:
        body:
          data: '{{#hmac.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac.signature#}}

          X-Dify-Workflow-Slug: admin-config-proposer

          X-Dify-Tool: propose-config-change

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        title: POST /api/dify/callback/agent-tool-invoke
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/agent-tool-invoke'
      id: callback
      position:
        x: 1480
        y: 120
      type: custom
    - data:
        outputs:
        - value: proposals_queued
          variable: status
        - value_selector:
          - parse
          - count
          variable: count
        - value_selector:
          - parse
          - payload
          variable: payload
        title: End (proposed)
        type: end
      id: end_proposed
      position:
        x: 1760
        y: 120
      type: custom
    - data:
        outputs:
        - value: no_proposals
          variable: status
        - value_selector:
          - parse
          - payload
          variable: payload
        title: End (abstained)
        type: end
      id: end_abstain
      position:
        x: 1200
        y: 360
      type: custom
  rag_pipeline_variables: []
