dify-workflows/_backup-2026-05-17/capability-enrichment-retry.yml
app:
  description: Resilient retry of the fragile capability draft enrichment ("enhance")
    pipeline.
  icon: 🔁
  icon_background: '#DCFCE7'
  icon_type: emoji
  mode: workflow
  name: capability-enrichment-retry
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 0bd3938d-b61a-46e9-8ae9-7ece610c6c56
    name: INFLEXCVI_API_BASE
    selector:
    - env
    - INFLEXCVI_API_BASE
    value: ''
    value_type: string
  - description: ''
    id: e67dff1d-e5be-43a1-a424-0b7fb12eb37a
    name: DIFY_CALLBACK_KEY
    selector:
    - env
    - DIFY_CALLBACK_KEY
    value: ''
    value_type: string
  - description: ''
    id: a088ae86-aa81-4dae-aabc-1b8cf6c76412
    name: PERPLEXITY_API_KEY
    selector:
    - env
    - PERPLEXITY_API_KEY
    value: ''
    value_type: string
  features:
    file_upload:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: research_prompt
    - id: e2
      source: research_prompt
      target: perplexity
    - id: e3
      source: perplexity
      target: extract
    - id: e4
      source: extract
      target: synth_llm
    - id: e5
      source: synth_llm
      target: parse
    - id: e6
      source: parse
      target: branch
    - id: e7
      source: branch
      sourceHandle: 'true'
      target: hmac_ok
    - id: e8
      source: branch
      sourceHandle: 'false'
      target: hmac_degraded
    - id: e9
      source: hmac_ok
      target: callback_ok
    - id: e10
      source: callback_ok
      target: end_ok
    - id: e11
      source: hmac_degraded
      target: callback_degraded
    - id: e12
      source: callback_degraded
      target: end_degraded
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Capability ID
          required: true
          type: number
          variable: capabilityId
        - label: Current Draft JSON
          required: true
          type: paragraph
          variable: currentDraft
        - label: Last Error (optional)
          required: false
          type: paragraph
          variable: lastError
        - label: Attempt number
          required: false
          type: number
          variable: attempt
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        template: 'Re-research the capability draft below to fix what previously failed.


          Previous error (if any): {{lastError}}


          Current draft (truncated):

          {{currentDraft}}


          Produce: (a) updated TAM and EVaR ranges with citations, (b) revised moat
          tier rationale,

          (c) cleaner narrative paragraphs (traditional/economic/ai variants). Always
          cite sources.

          '
        title: Build research prompt
        type: template-transform
        variables:
        - value_selector:
          - start
          - lastError
          variable: lastError
        - value_selector:
          - start
          - currentDraft
          variable: currentDraft
      id: research_prompt
      position:
        x: 360
        y: 240
      type: custom
    - data:
        body:
          data: "{\n  \"model\": \"sonar-pro\",\n  \"max_tokens\": 4500,\n  \"messages\"\
            : [\n    { \"role\": \"system\", \"content\": \"You are a research analyst.\
            \ Cite sources inline.\" },\n    { \"role\": \"user\", \"content\": {{#research_prompt.output#}}\
            \ }\n  ]\n}\n"
          type: raw-text
        headers: 'Content-Type: application/json

          Authorization: Bearer {{#env.PERPLEXITY_API_KEY#}}

          '
        method: post
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 2000
        timeout:
          max_connect_timeout: 15
          max_read_timeout: 150
          max_write_timeout: 60
        title: Perplexity research
        type: http-request
        url: https://api.perplexity.ai/chat/completions
      id: perplexity
      position:
        x: 640
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(body) -> dict:\n    try:\n        data = json.loads(body)\
          \ if isinstance(body, str) else body\n        content = data[\"choices\"\
          ][0][\"message\"][\"content\"]\n        citations = data.get(\"citations\"\
          ) or data.get(\"search_results\") or []\n    except Exception:\n       \
          \ content = body if isinstance(body, str) else \"\"\n        citations =\
          \ []\n    return {\"research\": content, \"citations\": citations, \"ok\"\
          : bool(content)}\n"
        code_language: python3
        outputs:
          citations:
            type: array[object]
          ok:
            type: boolean
          research:
            type: string
        title: Extract research
        type: code
        variables:
        - value_selector:
          - perplexity
          - body
          variable: body
      id: extract
      position:
        x: 920
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 6000
            temperature: 0.2
          mode: chat
          name: claude-3-7-sonnet-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: "Re-emit the capability draft as a clean JSON object. NEVER omit a\
            \ field that exists in\nthe input draft — preserve unrelated fields verbatim.\
            \ Output ONLY JSON, no fences.\n\nShape (extend with any input fields\
            \ you don't touch):\n\n{\n  \"capabilityId\": int,\n  \"tamUsd\": number\
            \ | null,\n  \"evarBp\": number | null,\n  \"moatTier\": \"string\",\n\
            \  \"narratives\": {\"traditional\": \"string\", \"economic\": \"string\"\
            , \"ai\": \"string\"},\n  \"citations\": [{\"url\": \"string\", \"title\"\
            : \"string\"}]\n}\n\nRules:\n- Every dollar/bp figure must trace to a\
            \ citation. Otherwise return null.\n- If you cannot improve a field over\
            \ the current draft, copy it verbatim.\n- Reject any speculation — be\
            \ conservative.\n"
        - edition_type: basic
          role: user
          text: 'capabilityId: {{#start.capabilityId#}}

            currentDraft: {{#start.currentDraft#}}


            NEW RESEARCH:

            {{#extract.research#}}

            citations: {{#extract.citations#}}

            '
        title: Sonnet re-synthesis
        type: llm
      id: synth_llm
      position:
        x: 1200
        y: 240
      type: custom
    - data:
        code: "import json\nREQUIRED = {\"narratives\", \"moatTier\"}\ndef main(text:\
          \ str) -> dict:\n    s = text.strip()\n    if s.startswith(\"```\"):\n \
          \       s = s.strip(\"`\")\n        if s.startswith(\"json\"):\n       \
          \     s = s[4:]\n    try:\n        p = json.loads(s)\n    except Exception:\n\
          \        return {\"payload\": {\"raw\": text[:1000]}, \"ok\": False}\n \
          \   missing = [k for k in REQUIRED if k not in p]\n    return {\"payload\"\
          : p, \"ok\": len(missing) == 0, \"missing\": missing}\n"
        code_language: python3
        outputs:
          missing:
            type: array[string]
          ok:
            type: boolean
          payload:
            type: object
        title: Coerce JSON + validate
        type: code
        variables:
        - value_selector:
          - synth_llm
          - text
          variable: text
      id: parse
      position:
        x: 1480
        y: 240
      type: custom
    - data:
        conditions:
        - comparison_operator: is
          value: 'true'
          variable_selector:
          - parse
          - ok
        logical_operator: and
        title: Parse OK?
        type: if-else
      id: branch
      position:
        x: 1760
        y: 240
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(cap_id: int, payload: dict, run_id:\
          \ str, key: str) -> dict:\n    body = {\n        \"clientRequestId\": run_id,\n\
          \        \"kind\": \"enrichment_retry\",\n        \"capabilityId\": cap_id,\n\
          \        \"status\": \"ok\",\n        \"payload\": payload,\n    }\n   \
          \ msg = json.dumps(body, separators=(\",\", \":\"), sort_keys=True).encode(\"\
          utf-8\")\n    sig = hmac.new(key.encode(\"utf-8\"), msg, hashlib.sha256).hexdigest()\n\
          \    return {\"signature\": sig, \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign (success)
        type: code
        variables:
        - value_selector:
          - start
          - capabilityId
          variable: cap_id
        - value_selector:
          - parse
          - payload
          variable: payload
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac_ok
      position:
        x: 2040
        y: 120
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(cap_id: int, missing: list, raw:\
          \ dict, run_id: str, key: str) -> dict:\n    body = {\n        \"clientRequestId\"\
          : run_id,\n        \"kind\": \"enrichment_retry\",\n        \"capabilityId\"\
          : cap_id,\n        \"status\": \"degraded\",\n        \"missingFields\"\
          : missing,\n        \"rawPayload\": raw,\n    }\n    msg = json.dumps(body,\
          \ separators=(\",\", \":\"), sort_keys=True).encode(\"utf-8\")\n    sig\
          \ = hmac.new(key.encode(\"utf-8\"), msg, hashlib.sha256).hexdigest()\n \
          \   return {\"signature\": sig, \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign (degraded)
        type: code
        variables:
        - value_selector:
          - start
          - capabilityId
          variable: cap_id
        - value_selector:
          - parse
          - missing
          variable: missing
        - value_selector:
          - parse
          - payload
          variable: raw
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac_degraded
      position:
        x: 2040
        y: 360
      type: custom
    - data:
        body:
          data: '{{#hmac_ok.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac_ok.signature#}}

          X-Dify-Workflow-Slug: capability-enrichment-retry

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 60
        title: POST callback (ok)
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result'
      id: callback_ok
      position:
        x: 2320
        y: 120
      type: custom
    - data:
        body:
          data: '{{#hmac_degraded.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac_degraded.signature#}}

          X-Dify-Workflow-Slug: capability-enrichment-retry

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 60
        title: POST callback (degraded)
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result'
      id: callback_degraded
      position:
        x: 2320
        y: 360
      type: custom
    - data:
        outputs:
        - value: ok
          variable: status
        - value_selector:
          - parse
          - payload
          variable: payload
        title: End (ok)
        type: end
      id: end_ok
      position:
        x: 2600
        y: 120
      type: custom
    - data:
        outputs:
        - value: degraded
          variable: status
        - value_selector:
          - parse
          - missing
          variable: missing
        title: End (degraded — fall back)
        type: end
      id: end_degraded
      position:
        x: 2600
        y: 360
      type: custom
  rag_pipeline_variables: []
