dify-workflows/_backup-2026-05-17/capability-review-assist.yml
app:
  description: Produces revision prompts for a rejected capability draft.
  icon: 📝
  icon_background: '#DBEAFE'
  icon_type: emoji
  mode: workflow
  name: Capability Review Assist
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: b65f16d9-201b-4a62-b843-1d2d7cdc5d78
    name: INFLEXCVI_API_BASE
    selector:
    - env
    - INFLEXCVI_API_BASE
    value: ''
    value_type: string
  - description: ''
    id: 76754f15-763a-489b-a2d9-023e8b5cb49c
    name: DIFY_CALLBACK_KEY
    selector:
    - env
    - DIFY_CALLBACK_KEY
    value: ''
    value_type: string
  features:
    file_upload:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: revise_llm
    - id: e2
      source: revise_llm
      target: parse
    - id: e3
      source: parse
      target: hmac
    - id: e4
      source: hmac
      target: callback
    - id: e5
      source: callback
      target: end
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Capability ID
          required: true
          type: number
          variable: capabilityId
        - label: Reviewer Comment
          required: true
          type: paragraph
          variable: reviewerComment
        - label: Current Draft JSON
          required: true
          type: paragraph
          variable: currentDraft
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 2000
            temperature: 0.2
          mode: chat
          name: claude-3-7-sonnet-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: "A reviewer rejected a capability draft. Read the reviewer's comment\
            \ and the current\ndraft, then produce structured revision prompts the\
            \ next enrichment pass will use.\n\nOutput ONLY a JSON object, no prose:\n\
            \n{\n  \"summary\": \"1-sentence diagnosis of what the reviewer is asking\
            \ to change\",\n  \"prompts\": {\n    \"perplexityFollowup\": \"string\
            \ — what to research next, OR null\",\n    \"narrativeRevisions\": [\"\
            bullet list of specific narrative changes\"],\n    \"metricRevisions\"\
            : [\"bullet list of metric changes (TAM/EVaR/moat etc)\"]\n  },\n  \"\
            confidence\": 0.0\n}\n\nIf the reviewer's comment doesn't actually require\
            \ a revision (e.g. just a question),\nreturn `confidence: 0` and explain\
            \ in `summary`.\n"
        - edition_type: basic
          role: user
          text: 'Capability ID: {{#start.capabilityId#}}


            Reviewer comment:

            {{#start.reviewerComment#}}


            Current draft (truncated):

            {{#start.currentDraft#}}

            '
        title: Revision Prompts LLM
        type: llm
      id: revise_llm
      position:
        x: 360
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(text: str) -> dict:\n    s = text.strip()\n \
          \   if s.startswith(\"```\"):\n        s = s.strip(\"`\")\n        if s.startswith(\"\
          json\"):\n            s = s[4:]\n    try:\n        return {\"payload\":\
          \ json.loads(s)}\n    except Exception:\n        return {\"payload\": {\"\
          summary\": text[:300], \"prompts\": {}, \"confidence\": 0.0}}\n"
        code_language: python3
        outputs:
          payload:
            type: object
        title: Coerce JSON
        type: code
        variables:
        - value_selector:
          - revise_llm
          - text
          variable: text
      id: parse
      position:
        x: 640
        y: 240
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(cap_id: int, payload: dict, run_id:\
          \ str, key: str) -> dict:\n    body = {\n        \"clientRequestId\": run_id,\n\
          \        \"capabilityId\": cap_id,\n        \"kind\": \"revision_prompts\"\
          ,\n        \"payload\": payload,\n    }\n    msg = json.dumps(body, separators=(\"\
          ,\", \":\"), sort_keys=True).encode(\"utf-8\")\n    sig = hmac.new(key.encode(\"\
          utf-8\"), msg, hashlib.sha256).hexdigest()\n    return {\"signature\": sig,\
          \ \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign body
        type: code
        variables:
        - value_selector:
          - start
          - capabilityId
          variable: cap_id
        - value_selector:
          - parse
          - payload
          variable: payload
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac
      position:
        x: 920
        y: 240
      type: custom
    - data:
        body:
          data: '{{#hmac.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac.signature#}}

          X-Dify-Workflow-Slug: capability-review-assist

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 60
        title: POST /api/dify/callback/research-result
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result'
      id: callback
      position:
        x: 1200
        y: 240
      type: custom
    - data:
        outputs:
        - value_selector:
          - parse
          - payload
          variable: payload
        title: End
        type: end
      id: end
      position:
        x: 1480
        y: 240
      type: custom
  rag_pipeline_variables: []
