dify-workflows/_backup-2026-05-17/listing-moderation.yml
app:
  description: Classifies seller submissions into auto_approve / send_to_moderator
    / auto_reject.
  icon: 🛡
  icon_background: '#FEE2E2'
  icon_type: emoji
  mode: workflow
  name: Listing Moderation
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 0e9c564c-7582-488e-8c33-d9e460b34d96
    name: INFLEXCVI_API_BASE
    selector:
    - env
    - INFLEXCVI_API_BASE
    value: ''
    value_type: string
  - description: ''
    id: 3f54fab2-f093-43f5-b8aa-2e758c551ec2
    name: DIFY_CALLBACK_KEY
    selector:
    - env
    - DIFY_CALLBACK_KEY
    value: ''
    value_type: string
  features:
    file_upload:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: classify_llm
    - id: e2
      source: classify_llm
      target: parse_json
    - id: e3
      source: parse_json
      target: hmac
    - id: e4
      source: hmac
      target: callback
    - id: e5
      source: callback
      target: end
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Listing ID
          required: true
          type: number
          variable: listingId
        - label: Title
          max_length: 256
          required: true
          type: text-input
          variable: title
        - label: Description
          required: true
          type: paragraph
          variable: description
        - label: Seller history JSON
          required: false
          type: paragraph
          variable: sellerHistory
        - label: PDF Text (optional)
          required: false
          type: paragraph
          variable: pdfText
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 800
            temperature: 0.0
          mode: chat
          name: claude-3-5-haiku-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: "You moderate inflexcvi marketplace listings. Output ONLY a JSON object\
            \ — no prose:\n\n{\n  \"verdict\": \"auto_approve\" | \"send_to_moderator\"\
            \ | \"auto_reject\",\n  \"riskFlags\": [\"array of short strings\"],\n\
            \  \"confidence\": 0.0,\n  \"rationale\": \"<= 2 sentences\"\n}\n\nDefaults:\n\
            - `auto_approve` only when the listing is clearly legitimate (clear category,\
            \ plausible\n  pricing, no compliance flags) AND `confidence >= 0.85`.\n\
            - `auto_reject` only for explicit policy violations (regulated rails,\
            \ deceptive claims,\n  obvious spam).\n- Anything else → `send_to_moderator`\
            \ so a human reviews.\n\nRisk flags vocabulary (use only these): `unclear_category`,\
            \ `pricing_anomaly`,\n`compliance_risk`, `seller_velocity`, `pdf_unreadable`,\
            \ `language`, `duplicate`.\n"
        - edition_type: basic
          role: user
          text: 'listingId: {{#start.listingId#}}

            title: {{#start.title#}}

            description:

            {{#start.description#}}


            sellerHistory: {{#start.sellerHistory#}}

            pdfText: {{#start.pdfText#}}

            '
        title: Classify listing
        type: llm
      id: classify_llm
      position:
        x: 360
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(text: str) -> dict:\n    s = text.strip()\n \
          \   if s.startswith(\"```\"):\n        s = s.strip(\"`\")\n        if s.startswith(\"\
          json\"):\n            s = s[4:]\n    try:\n        p = json.loads(s)\n \
          \   except Exception:\n        return {\"verdict\": \"send_to_moderator\"\
          , \"riskFlags\": [\"parse_error\"], \"confidence\": 0.0, \"rationale\":\
          \ text[:200]}\n    v = p.get(\"verdict\") or \"send_to_moderator\"\n   \
          \ if v not in (\"auto_approve\", \"send_to_moderator\", \"auto_reject\"\
          ):\n        v = \"send_to_moderator\"\n    return {\n        \"verdict\"\
          : v,\n        \"riskFlags\": p.get(\"riskFlags\") or [],\n        \"confidence\"\
          : float(p.get(\"confidence\") or 0.0),\n        \"rationale\": p.get(\"\
          rationale\") or \"\",\n    }\n"
        code_language: python3
        outputs:
          confidence:
            type: number
          rationale:
            type: string
          riskFlags:
            type: array[string]
          verdict:
            type: string
        title: Coerce verdict JSON
        type: code
        variables:
        - value_selector:
          - classify_llm
          - text
          variable: text
      id: parse_json
      position:
        x: 640
        y: 240
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(listing_id: int, verdict: str,\
          \ flags: list, conf: float, rationale: str, run_id: str, key: str) -> dict:\n\
          \    payload = {\n        \"clientRequestId\": run_id,\n        \"listingId\"\
          : listing_id,\n        \"verdict\": verdict,\n        \"riskFlags\": flags,\n\
          \        \"confidence\": conf,\n        \"rationale\": rationale,\n    }\n\
          \    msg = json.dumps(payload, separators=(\",\", \":\"), sort_keys=True).encode(\"\
          utf-8\")\n    sig = hmac.new(key.encode(\"utf-8\"), msg, hashlib.sha256).hexdigest()\n\
          \    return {\"signature\": sig, \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign body
        type: code
        variables:
        - value_selector:
          - start
          - listingId
          variable: listing_id
        - value_selector:
          - parse_json
          - verdict
          variable: verdict
        - value_selector:
          - parse_json
          - riskFlags
          variable: flags
        - value_selector:
          - parse_json
          - confidence
          variable: conf
        - value_selector:
          - parse_json
          - rationale
          variable: rationale
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac
      position:
        x: 920
        y: 240
      type: custom
    - data:
        body:
          data: '{{#hmac.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac.signature#}}

          X-Dify-Workflow-Slug: listing-moderation

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 20
          max_write_timeout: 20
        title: POST /api/dify/callback/moderation-verdict
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/moderation-verdict'
      id: callback
      position:
        x: 1200
        y: 240
      type: custom
    - data:
        outputs:
        - value_selector:
          - parse_json
          - verdict
          variable: verdict
        - value_selector:
          - parse_json
          - riskFlags
          variable: riskFlags
        - value_selector:
          - parse_json
          - confidence
          variable: confidence
        - value_selector:
          - parse_json
          - rationale
          variable: rationale
        title: End
        type: end
      id: end
      position:
        x: 1480
        y: 240
      type: custom
  rag_pipeline_variables: []
