dify-workflows/_backup-2026-05-17/marketplace-search-v2.yml
app:
  description: Intent-parsing + reranking layer on the marketplace-listings KB.
  icon: 🔍
  icon_background: '#FEF3C7'
  icon_type: emoji
  mode: advanced-chat
  name: Marketplace Search v2
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: What kind of marketplace listing are you looking for?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: intent_llm
    - id: e2
      source: intent_llm
      target: parse_intent
    - id: e3
      source: parse_intent
      target: retrieve
    - id: e4
      source: retrieve
      target: rerank_llm
    - id: e5
      source: rerank_llm
      target: answer
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Search Query
          required: true
          type: paragraph
          variable: query
        - label: User Tier
          max_length: 32
          required: false
          type: text-input
          variable: userTier
        - label: Filters JSON
          required: false
          type: paragraph
          variable: filters
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 400
            temperature: 0.1
          mode: chat
          name: claude-3-5-haiku-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: 'Parse the user''s marketplace search query into a structured intent.
            Output ONLY a JSON

            object — no prose, no fences:


            {"normalizedQuery": "string", "category": "capability|company|industry|generic",
            "industries": ["..."], "k": 8}


            `normalizedQuery` rewrites the query for keyword + vector search (expand
            acronyms, drop

            filler). `industries` lists any industries the user mentioned. `k` defaults
            to 8.

            '
        - edition_type: basic
          role: user
          text: 'Query: {{#start.query#}}

            Filters: {{#start.filters#}}'
        title: Parse intent
        type: llm
      id: intent_llm
      position:
        x: 360
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(text: str, raw_query: str) -> dict:\n    try:\n\
          \        s = text.strip()\n        if s.startswith(\"```\"):\n         \
          \   s = s.strip(\"`\")\n            if s.startswith(\"json\"):\n       \
          \         s = s[4:]\n        p = json.loads(s)\n    except Exception:\n\
          \        p = {}\n    return {\n        \"normalizedQuery\": p.get(\"normalizedQuery\"\
          ) or raw_query,\n        \"k\": int(p.get(\"k\") or 8),\n    }\n"
        code_language: python3
        outputs:
          k:
            type: number
          normalizedQuery:
            type: string
        title: Coerce intent JSON
        type: code
        variables:
        - value_selector:
          - intent_llm
          - text
          variable: text
        - value_selector:
          - start
          - query
          variable: raw_query
      id: parse_intent
      position:
        x: 640
        y: 240
      type: custom
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_mode: weighted_score
          score_threshold_enabled: false
          top_k: 12
          weights:
            keyword_setting:
              keyword_weight: 0.4
            vector_setting:
              vector_weight: 0.6
            weight_type: customized
        query_variable_selector:
        - parse_intent
        - normalizedQuery
        retrieval_mode: multiple
        title: Retrieve from KB
        type: knowledge-retrieval
      id: retrieve
      position:
        x: 920
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 1200
            temperature: 0.0
          mode: chat
          name: claude-3-5-haiku-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: "You are reranking marketplace listings retrieved from a KB.\n\nRead\
            \ the candidate chunks below. Return ONLY the top {{#parse_intent.k#}}\
            \ listings,\nordered by relevance to the user query. Each listing chunk\
            \ has a `metadata.listing_id`\nyou must preserve. Output exactly this\
            \ JSON shape:\n\n```json\n{\n  \"rankedListingIds\": [\"listing-id-1\"\
            , \"listing-id-2\"],\n  \"summary\": \"one-paragraph synthesis the UI\
            \ can show above the list\"\n}\n```\n"
        - edition_type: basic
          role: user
          text: 'User query: {{#start.query#}}


            Candidates:

            {{#retrieve.result#}}'
        title: Rerank + filter
        type: llm
      id: rerank_llm
      position:
        x: 1200
        y: 240
      type: custom
    - data:
        answer: '{{#rerank_llm.text#}}'
        title: Answer
        type: answer
      id: answer
      position:
        x: 1480
        y: 240
      type: custom
  rag_pipeline_variables: []
