dify-workflows/_backup-2026-05-17/research-pipeline.yml
app:
  description: Perplexity research → Sonnet synthesis → callback to inflexcvi.
  icon: 🔍
  icon_background: '#E0E7FF'
  icon_type: emoji
  mode: workflow
  name: Research Pipeline
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: c99cfdd4-a968-4bb8-a14d-201db3941b78
    name: INFLEXCVI_API_BASE
    selector:
    - env
    - INFLEXCVI_API_BASE
    value: ''
    value_type: string
  - description: ''
    id: b313181b-d8f4-4a61-ae48-aff398d6f500
    name: DIFY_CALLBACK_KEY
    selector:
    - env
    - DIFY_CALLBACK_KEY
    value: ''
    value_type: string
  - description: ''
    id: 66415a68-91d9-4748-bf99-d12210963fad
    name: PERPLEXITY_API_KEY
    selector:
    - env
    - PERPLEXITY_API_KEY
    value: ''
    value_type: string
  features:
    file_upload:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: perplexity
    - id: e2
      source: perplexity
      target: extract_research
    - id: e3
      source: extract_research
      target: synth_llm
    - id: e4
      source: synth_llm
      target: parse
    - id: e5
      source: parse
      target: hmac
    - id: e6
      source: hmac
      target: callback
    - id: e7
      source: callback
      target: end
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Capability ID
          required: false
          type: number
          variable: capabilityId
        - label: Kind
          options:
          - quadrant
          - alpha
          - value_chain
          - generic
          required: true
          type: select
          variable: kind
        - label: Research Prompt
          required: true
          type: paragraph
          variable: prompt
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        body:
          data: "{\n  \"model\": \"sonar-pro\",\n  \"max_tokens\": 4096,\n  \"messages\"\
            : [\n    { \"role\": \"system\", \"content\": \"You are a research analyst.\
            \ Cite sources inline.\" },\n    { \"role\": \"user\", \"content\": {{#start.prompt#}}\
            \ }\n  ]\n}\n"
          type: raw-text
        headers: 'Content-Type: application/json

          Authorization: Bearer {{#env.PERPLEXITY_API_KEY#}}

          '
        method: post
        timeout:
          max_connect_timeout: 15
          max_read_timeout: 120
          max_write_timeout: 60
        title: Perplexity research
        type: http-request
        url: https://api.perplexity.ai/chat/completions
      id: perplexity
      position:
        x: 360
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(body: str) -> dict:\n    try:\n        data =\
          \ json.loads(body) if isinstance(body, str) else body\n        content =\
          \ data[\"choices\"][0][\"message\"][\"content\"]\n        citations = data.get(\"\
          citations\") or data.get(\"search_results\") or []\n    except Exception:\n\
          \        content = body if isinstance(body, str) else \"\"\n        citations\
          \ = []\n    return {\"research\": content, \"citations\": citations}\n"
        code_language: python3
        outputs:
          citations:
            type: array[object]
          research:
            type: string
        title: Extract Perplexity body
        type: code
        variables:
        - value_selector:
          - perplexity
          - body
          variable: body
      id: extract_research
      position:
        x: 640
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 4000
            temperature: 0.2
          mode: chat
          name: claude-3-7-sonnet-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: "Synthesize the research below into a structured payload appropriate\
            \ for `kind`.\n\nFor `kind=quadrant`: emit { quadrant: \"...\", justification:\
            \ \"...\", confidence: 0.0 }.\nFor `kind=alpha`: emit { tamUsd: number|null,\
            \ evarBp: number|null, moatTier: \"...\",\n  narratives: {traditional,\
            \ economic, ai}, citations: [...] }.\nFor `kind=value_chain`: emit { stages:\
            \ [{name, description, players: [...]}] }.\nFor `kind=generic`: emit {\
            \ summary: string, bullets: [...] }.\n\nOutput ONLY the JSON object —\
            \ no prose, no fences. Preserve citations verbatim.\n"
        - edition_type: basic
          role: user
          text: 'kind: {{#start.kind#}}

            capabilityId: {{#start.capabilityId#}}


            Research:

            {{#extract_research.research#}}


            Citations:

            {{#extract_research.citations#}}

            '
        title: Sonnet synthesis
        type: llm
      id: synth_llm
      position:
        x: 920
        y: 240
      type: custom
    - data:
        code: "import json\ndef main(text: str) -> dict:\n    s = text.strip()\n \
          \   if s.startswith(\"```\"):\n        s = s.strip(\"`\")\n        if s.startswith(\"\
          json\"):\n            s = s[4:]\n    try:\n        return {\"payload\":\
          \ json.loads(s)}\n    except Exception:\n        return {\"payload\": {\"\
          summary\": text[:500]}}\n"
        code_language: python3
        outputs:
          payload:
            type: object
        title: Coerce JSON
        type: code
        variables:
        - value_selector:
          - synth_llm
          - text
          variable: text
      id: parse
      position:
        x: 1200
        y: 240
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(cap_id, kind: str, payload: dict,\
          \ run_id: str, key: str) -> dict:\n    body = {\n        \"clientRequestId\"\
          : run_id,\n        \"capabilityId\": cap_id,\n        \"kind\": kind,\n\
          \        \"payload\": payload,\n    }\n    msg = json.dumps(body, separators=(\"\
          ,\", \":\"), sort_keys=True).encode(\"utf-8\")\n    sig = hmac.new(key.encode(\"\
          utf-8\"), msg, hashlib.sha256).hexdigest()\n    return {\"signature\": sig,\
          \ \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign body
        type: code
        variables:
        - value_selector:
          - start
          - capabilityId
          variable: cap_id
        - value_selector:
          - start
          - kind
          variable: kind
        - value_selector:
          - parse
          - payload
          variable: payload
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac
      position:
        x: 1480
        y: 240
      type: custom
    - data:
        body:
          data: '{{#hmac.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac.signature#}}

          X-Dify-Workflow-Slug: research-pipeline

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 60
        title: POST /api/dify/callback/research-result
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/research-result'
      id: callback
      position:
        x: 1760
        y: 240
      type: custom
    - data:
        outputs:
        - value_selector:
          - parse
          - payload
          variable: payload
        title: End
        type: end
      id: end
      position:
        x: 2040
        y: 240
      type: custom
  rag_pipeline_variables: []
