dify-workflows/_backup-2026-05-17/tier-selector.yml
app:
  description: Recommends a membership tier based on stated needs.
  icon: 🎟
  icon_background: '#E0E7FF'
  icon_type: emoji
  mode: advanced-chat
  name: Tier Selector
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: d21556d7-8c4a-455f-838c-2f60091ff81e
    name: INFLEXCVI_API_BASE
    selector:
    - env
    - INFLEXCVI_API_BASE
    value: ''
    value_type: string
  - description: ''
    id: 9b6e9a5f-6955-4a6b-b086-57ee1efa9d60
    name: DIFY_CALLBACK_KEY
    selector:
    - env
    - DIFY_CALLBACK_KEY
    value: ''
    value_type: string
  features:
    file_upload:
      enabled: false
    opening_statement: Tell me how you'd use the product — once a quarter, weekly,
      or as part of a daily decision loop — and I'll point at the right tier.
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - I just want to see this quarter's outlook for one industry
    - Our team needs weekly briefings on 3 industries
    - We want to embed CVI in our internal decision tooling
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: e1
      source: start
      target: tier_llm
    - id: e2
      source: tier_llm
      target: parse_json
    - id: e3
      source: parse_json
      target: branch
    - id: e4
      source: branch
      sourceHandle: 'true'
      target: hmac
    - id: e5
      source: branch
      sourceHandle: 'false'
      target: answer_continue
    - id: e6
      source: hmac
      target: callback
    - id: e7
      source: callback
      target: answer_recommended
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: User ID
          max_length: 64
          required: true
          type: text-input
          variable: userId
        - label: Current Tier
          max_length: 32
          required: false
          type: text-input
          variable: currentTier
      id: start
      position:
        x: 80
        y: 240
      type: custom
    - data:
        model:
          completion_params:
            max_tokens: 1200
            temperature: 0.2
          mode: chat
          name: claude-3-7-sonnet-latest
          provider: anthropic
        prompt_template:
        - edition_type: basic
          role: system
          text: 'You recommend one of 4 inflexcvi tiers: `discovery` (free, view one
            industry/qtr),

            `briefing` (weekly briefs across 3 industries), `console` (full CVI cockpit
            + alerts),

            `platform` (API + embed + SLA). Ask up to 3 follow-up questions; once
            you have a

            clear read, end with a fenced JSON block:


            ```json

            { "readyToRecommend": true, "tier": "console", "rationale": "..." }

            ```


            Otherwise:


            ```json

            { "readyToRecommend": false, "nextQuestion": "..." }

            ```


            Be honest — if `discovery` is enough, recommend it. Never upsell.

            '
        - edition_type: basic
          role: user
          text: 'Current tier: {{#start.currentTier#}}


            User: {{#sys.query#}}'
        title: Tier Selector LLM
        type: llm
      id: tier_llm
      position:
        x: 360
        y: 240
      type: custom
    - data:
        code: "import json, re\ndef main(text: str) -> dict:\n    m = re.search(r\"\
          ```json\\s*(\\{.*?\\})\\s*```\", text, re.DOTALL)\n    if not m:\n     \
          \   return {\"ready\": False, \"answer\": text, \"tier\": None, \"rationale\"\
          : None}\n    try:\n        p = json.loads(m.group(1))\n    except Exception:\n\
          \        return {\"ready\": False, \"answer\": text, \"tier\": None, \"\
          rationale\": None}\n    clean = text[:m.start()].strip()\n    return {\n\
          \        \"ready\": bool(p.get(\"readyToRecommend\")),\n        \"answer\"\
          : clean or p.get(\"nextQuestion\", \"\"),\n        \"tier\": p.get(\"tier\"\
          ),\n        \"rationale\": p.get(\"rationale\"),\n    }\n"
        code_language: python3
        outputs:
          answer:
            type: string
          rationale:
            type: string
          ready:
            type: boolean
          tier:
            type: string
        title: Parse JSON tail
        type: code
        variables:
        - value_selector:
          - tier_llm
          - text
          variable: text
      id: parse_json
      position:
        x: 640
        y: 240
      type: custom
    - data:
        conditions:
        - comparison_operator: is
          value: 'true'
          variable_selector:
          - parse_json
          - ready
        logical_operator: and
        title: Ready?
        type: if-else
      id: branch
      position:
        x: 920
        y: 240
      type: custom
    - data:
        code: "import hmac, hashlib, json\ndef main(user_id: str, tier: str, rationale:\
          \ str, run_id: str, key: str) -> dict:\n    payload = {\n        \"clientRequestId\"\
          : run_id,\n        \"userId\": user_id,\n        \"tier\": tier,\n     \
          \   \"rationale\": rationale,\n    }\n    msg = json.dumps(payload, separators=(\"\
          ,\", \":\"), sort_keys=True).encode(\"utf-8\")\n    sig = hmac.new(key.encode(\"\
          utf-8\"), msg, hashlib.sha256).hexdigest()\n    return {\"signature\": sig,\
          \ \"body\": msg.decode(\"utf-8\")}\n"
        code_language: python3
        outputs:
          body:
            type: string
          signature:
            type: string
        title: HMAC sign body
        type: code
        variables:
        - value_selector:
          - start
          - userId
          variable: user_id
        - value_selector:
          - parse_json
          - tier
          variable: tier
        - value_selector:
          - parse_json
          - rationale
          variable: rationale
        - value_selector:
          - sys
          - workflow_run_id
          variable: run_id
        - value_selector:
          - env
          - DIFY_CALLBACK_KEY
          variable: key
      id: hmac
      position:
        x: 1200
        y: 120
      type: custom
    - data:
        body:
          data: '{{#hmac.body#}}'
          type: raw-text
        headers: 'Content-Type: application/json

          X-Dify-Callback-Signature: {{#hmac.signature#}}

          X-Dify-Workflow-Slug: tier-selector

          '
        method: post
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 20
          max_write_timeout: 20
        title: POST /api/dify/callback/recommend-tier
        type: http-request
        url: '{{#env.INFLEXCVI_API_BASE#}}/api/dify/callback/recommend-tier'
      id: callback
      position:
        x: 1480
        y: 120
      type: custom
    - data:
        answer: '**Recommended tier: {{#parse_json.tier#}}**


          {{#parse_json.rationale#}}


          {{#parse_json.answer#}}'
        title: Answer (recommended)
        type: answer
      id: answer_recommended
      position:
        x: 1760
        y: 120
      type: custom
    - data:
        answer: '{{#parse_json.answer#}}'
        title: Answer (continue)
        type: answer
      id: answer_continue
      position:
        x: 1200
        y: 360
      type: custom
  rag_pipeline_variables: []
